<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iologinutils">
  <uses-permission android:name="android.permission.INTERNET" />
  <application>
    <activity android:name=".CustomTabActivity"
      android:exported="true"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="iologin" android:host="127.0.0.1"/>
      </intent-filter>
    </activity>
  </application>
  <queries>
    <intent>
      <action android:name=
        "android.support.customtabs.action.CustomTabsService" />
    </intent>
  </queries>
</manifest>
